.container {
  width: 1200px;
  display: flex;
  margin-left: 200px;
  margin-right: 200px;
  padding-left: 15px;
  padding-right: 15px;
  justify-content: center;

  .header & {
    align-items: center;
  }

  .footer & {
    justify-content: space-between;
  }
}
