.contact {
  margin-left: auto;
  fill: getColor("secondary");
  display: flex;
  align-items: center;

  &__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    text-decoration-line: none;
    color: getColor("secondary");
    margin: 32px 27px 32px 50px;
    min-width: 110px;
    display: flex;

    &--envelope {
      width: 16px;
      height: 12px;
    }

    &--smartphone {
      width: 10px;
      height: 16px;
    }

    &--smartphone,
    &--envelope {
      margin-right: 10px;
    }

    &:hover,
    &:focus {
      color: getColor("accent");
      fill: getColor("accent");
      cursor: pointer;
    }
  }
}
