.logo {
    font-family: $secundary-font;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.92;
    letter-spacing: 0.03em;
    text-decoration-line: none;

    &--light-theam {
        color: #000;
    }

    &--dark-theam {
        color:#fff;
    }

    &__span {
        color: getColor('accent');
    }
  }